/* ========================= ШРИФТИ =============================== */
/*------------------- Підключення шрифтів ------------------------- */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");

@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
}


/*------------------- Напрацювання властивостей -------------------*/

h1 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #9c93f6;
    color: rgb(60, 60, 60);
}

.article h2 {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.article h3 {
    background: #dfdcf8;
    font-style: italic;
    color: black;
    padding: 5px;
    margin-bottom: 5px;
    line-height: 1.25;
}

.block {
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 20px;
}

.block>p {
    margin-bottom: 10px;
    padding: 5px;
}

.solid {
    border: 2px solid black;
}

.dotted {
    border: 2px dotted black;
}

.dashed {
    border: 2px dashed black;
}

.double {
    border: 5px double black;
}

.combined {
    border-top: 3px solid red;
    border-right: 2px dotted blue;
    border-bottom: 3px dashed green;
    border-left: 10px double yellow;
}

.outline {
    outline: 2px solid black;
    border: 2px dashed red;
}

.block>.border-radius,
.circle,
.fancy {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: #000;
}

.border-radius {
    border-radius: 10px;
}

.circle {
    border-radius: 50%;
}

.fancy {
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
}

.box-shadow {
    box-shadow: 5px 5px 10px black;
}

.inset {
    padding: 10px;
    box-shadow: inset 0px 0px 10px black;
}

.multi {
    box-shadow: 7px 5px 6px rgba(217, 85, 85, 0.9), -5px 0px 10px rgba(29, 56, 189, 0.91);
}

.opacity-50 {
    width: 200px;
    opacity: 0.5;
}

.visible {
    visibility: visible;

}

.hidden {
    visibility: hidden;
}

/*------------------- Скрін 1 -------------------*/

.screenshots {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
}

.container {
    max-width: 1218px;
    margin: 0 auto;
    padding: 150px 0px;
}

.title-block {
    text-align: center;
    font-size: 0;
    margin-bottom: 70px;
}

.mark-box {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #40DDB6;
    margin-right: 6px;
}

.notation {
    display: inline-block;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    color: #37393F;
    margin-bottom: 16px;
}

.title {
    font-family: "Poppins", sans-serif;
    color: #37393F;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.21;
}

.icons-block {
    margin-bottom: 100px;
}

.photography-block {
    margin-bottom: 100px;
}

.sub-topic {
    color: #37393F;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.text {
    color: #7D7D7D;
    line-height: 1.47;
    margin-bottom: 30px;
}

.license {
    color: #37393F;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.blue {
    color: #40DDB6;
    font-weight: 400;
}

/*------------------- Скрін 2 -------------------*/

.container-2 {
    max-width: 830px;
    margin: 0 auto;
    padding: 50px 0px;
}

.container-2 .title {
    font-size: 40px;
    line-height: 1.27;
    margin-bottom: 15px;
}

.container-2 .text {
    margin-bottom: 35px;
}

.container-2 ol, ul {
    margin-bottom: 25px;
}

.container-2 ol>li, ul>li {
    font-weight: 500;
    text-indent: 20px;
    margin-bottom: 20px;
}

/*------------------- Скрін 3 -------------------*/

.container-3 {
    max-width: 1240px;
    color: #807D7E;
    font-family: "Causten", sans-serif;
    font-size: 20px;
    line-height: 1.675;
    letter-spacing: 0.4px;
    margin: 0 auto;
    padding: 50px 0px;
}

.container-3 .title-block {
    text-align: left;
    font-size: 0;
    margin-bottom: 30px;
}

.container-3 .mark-purple {
    display: inline-block;
    width: 6px;
    height: 28px;
    background: #8A33FD;
    border-radius: 10px;
    margin-right: 15px;
}

.container-3 .title {
    display: inline-block;
    color: #3C4242;
    font-family: "Core Sans C", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.56px;
}

.container-3 .content {
    padding: 0px 20px;
}

.container-3 .sub-topic {
    color: #807D7E;
    font-family: "Core Sans C", sans-serif;
    line-height: 1.67;
    font-size: 20px;
    margin-bottom: 25px;
}

.container-3 .text {
    margin-bottom: 25px;
}

.container-3 .text>p {
    margin-bottom: 20px;
}

.container-3 .bold {
    font-weight: 700;
}

/*------------------- Скрін 4 -------------------*/

.container-4 {
    max-width: 1103px;
    margin: 0 auto;
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    line-height: 1.4;
    font-size: 0px;
    padding: 50px 0px;
}

.container-4 .content {
    display: inline-block;
    width: 503px;
    height: 520px;
    margin-right: 75px;
    padding: 70px 0px;
}

.container-4 .whar-we-do {
    text-transform: uppercase;
    color: #D58417;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 27px;
}

.container-4 .title {
    text-transform: capitalize;
    color: #000;
    font-family: "Cormorant Infant", serif;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 30px;
}

.container-4 .text {
    font-size: 30px;
}

.container-4 .img-block {
    display: inline-block;
    vertical-align: top;
    width: 514px;
    height: 520px;
}

.container-4 .little-img {
    width: 177px;
    height: 336px;
    vertical-align: middle;
    border-radius: 235px;
    margin: 14px 10px -14px -10px;
}

.border-1 {
    display: inline-block;
    border: 1px solid #502203;
    margin-right: 20px;
    border-radius: 235px;
}

.container-4 .bigger-img {
    width: 307px;
    height: 500px;
    vertical-align: middle;
    border-radius: 235px;
    margin: 14px 10px -14px -10px;
}

.border-2 {
    display: inline-block;
    border: 1px solid #502203;
    border-radius: 235px;
}